<%- include("header", {title: title});%>

        <h1>Grundaren av BuckStar's E-shop</h1>
        <article class="about">
            <img id="img-me" src="http://www.student.bth.se/~hahs18/dbwebb-kurser/databas/me/redovisa/img/bth-hadsan.PNG" alt="This is me!">
        <p>
            <b>Hadsan Hassan</b> är skaparen av BuckStar och hon har jobbat
            självständigt genom hela projektet.

        </p>
            </article>
            <div class="link-btn">
                <a href="index">Index</a>
            </div>
<%- include("footer"); %>
